@import "../../abstract/variaveis";
@import "../../abstract/mixins";

@include iconesLateral($lista-icones-lateral);

.lateral {
    background-image: linear-gradient(to bottom, $cor-quaternaria-claro, $cor-primaria-claro) ;
    border-right: 1px solid $cor-secundaria-claro;
    box-sizing: border-box;
    height: 100vh;
    left: -9999px;
    padding: 1.5em;
    position: absolute;
    top: 0;
    transition: left .5s ease-in-out;
    width: 60vw;
    &__logo {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2em;
        .logo__imagem {
            width: 32px;
        }
        .logo__texto {
            color: $cor-da-fonte;
            font-size: 18px;
            font-weight: 500;
        }
    }
    &__lista {
        line-height: $altura-da-linha-da-fonte * 2;
        .lista__item {
            font-weight: 500;
            .item__link {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

.ativo {
    left: 0;
}

@media screen and (min-width: 992px) {
    .lateral {
        border: 1px solid $cor-secundaria-claro;
        opacity: 0;
        height: auto;
        left: 53%;
        top: 8%;
        transition: opacity .2s linear;
        width: 24vw;
        &__logo {
            display: none;
        }
        .item__link {
            font-size: 18px;
        }
    }

    .ativo {
        opacity: 1;
    }
}
