*, *::before, *::after {
  box-sizing: border-box;
}

i {
  display: inline-block;
  height: 32px;
  width: 32px;
}

a {
  color: #000000;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}
html body {
  box-sizing: border-box;
  font: normal 400 16px "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
}

.agrupamento-grid {
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template: repeat(2, auto)/62vw 1fr;
}

.inativo {
  display: none;
}

.cabecalho {
  align-items: center;
  background-color: #F2F2F2;
  border-bottom: 2px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.cabecalho__logo {
  align-items: center;
  color: rgba(20, 19, 19, 0.9098039216);
  -moz-column-gap: 5px;
       column-gap: 5px;
  cursor: pointer;
  display: flex;
  font-size: 2em;
  font-weight: 700;
}
.cabecalho__logo .logo__imagem {
  width: 32px;
}
.cabecalho__menu-hamburguer {
  background: url("../img/icone/hamburguer.png") no-repeat center center/cover;
  cursor: pointer;
}
.cabecalho__menu {
  display: none;
}

@media screen and (min-width: 992px) {
  .cabecalho {
    justify-content: space-evenly;
  }
  .cabecalho__menu-hamburguer {
    display: none;
  }
  .cabecalho__menu {
    border: 1px solid #FCFCFC;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 0.5em;
    text-transform: capitalize;
    transition: background-color 0.3s linear;
  }
  .cabecalho__menu:hover {
    background-color: #dadada;
    box-shadow: inset 1px 1px 1px #FCFCFC;
    height: 42px;
    border: none;
  }
}
.lista-numero::before {
  content: url("../img/icone/numero.png");
  margin-right: 0.5em;
  vertical-align: middle;
}

.lista-sobre::before {
  content: url("../img/icone/sobre.png");
  margin-right: 0.5em;
  vertical-align: middle;
}

.lista-texto::before {
  content: url("../img/icone/texto.png");
  margin-right: 0.5em;
  vertical-align: middle;
}

.lateral {
  background-image: linear-gradient(to bottom, #FCFCFC, #F2F2F2);
  border-right: 1px solid #db0004;
  box-sizing: border-box;
  height: 100vh;
  left: -9999px;
  padding: 1.5em;
  position: absolute;
  top: 0;
  transition: left 0.5s ease-in-out;
  width: 60vw;
}
.lateral__logo {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.lateral__logo .logo__imagem {
  width: 32px;
}
.lateral__logo .logo__texto {
  color: rgba(20, 19, 19, 0.9098039216);
  font-size: 18px;
  font-weight: 500;
}
.lateral__lista {
  line-height: 2.8em;
}
.lateral__lista .lista__item {
  font-weight: 500;
}
.lateral__lista .lista__item .item__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ativo {
  left: 0;
}

@media screen and (min-width: 992px) {
  .lateral {
    border: 1px solid #db0004;
    opacity: 0;
    height: auto;
    left: 53%;
    top: 9%;
    transition: opacity 0.2s linear;
    width: 24vw;
  }
  .lateral__logo {
    display: none;
  }
  .lateral .item__link {
    font-size: 18px;
  }
  .ativo {
    opacity: 1;
  }
}
.principal {
  text-align: center;
}
.principal__introducao {
  background-color: #FCFCFC;
  padding: 1em;
}
.principal__introducao .introducao__titulo {
  color: rgba(172, 25, 25, 0.9058823529);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.principal__introducao .introducao__texto {
  color: rgba(20, 19, 19, 0.9098039216);
  line-height: 1.4em;
}
.principal__conversor {
  align-items: center;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  padding: 0 1.5em 1em;
}
.principal__conversor .conversor__titulo {
  color: rgba(172, 25, 25, 0.9058823529);
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em;
}
.principal__conversor .conversor__formulario {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}
.principal__conversor .conversor__formulario .formulario__agrupamento {
  box-sizing: border-box;
  padding-top: 0.1em;
}
.principal__conversor .conversor__formulario .formulario__agrupamento .agrupamento__input {
  background-color: transparent;
  border: 1px solid hsla(0, 75%, 39%, 0.5);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
  padding: 0.35em 1em;
  width: 100%;
}
.principal__conversor .conversor__formulario .formulario__agrupamento .agrupamento__input::-moz-placeholder {
  font-size: 18px;
  vertical-align: middle;
}
.principal__conversor .conversor__formulario .formulario__agrupamento .agrupamento__input::placeholder {
  font-size: 18px;
  vertical-align: middle;
}
.principal__conversor .conversor__formulario .formulario__agrupamento .agrupamento__input:focus {
  border: 1.5px solid hsl(0, 75%, 39%);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.356);
  outline: none;
}
.principal__conversor .conversor__formulario .formulario__agrupamento .agrupamento__legenda {
  color: rgba(20, 19, 19, 0.9098039216);
  font-size: 14px;
  font-weight: 500;
}
.principal__conversor .conversor__formulario .formulario__opcoes {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
.principal__conversor .conversor__formulario .formulario__opcoes .opcoes {
  background-color: #db0004;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  height: 32.82px;
  overflow-y: scroll;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}
.principal__conversor .conversor__formulario .formulario__opcoes .opcoes:hover {
  background-color: rgba(172, 25, 25, 0.9058823529);
}
.principal__conversor .conversor__formulario .formulario__opcoes .opcoes__para {
  color: rgba(172, 25, 25, 0.9058823529);
  font-size: 29px;
  font-weight: 500;
}
.principal__conversor .conversor__formulario .formulario__converte {
  background-color: #db0004;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-top: 1em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}
.principal__conversor .conversor__formulario .formulario__converte:hover {
  background-color: rgba(172, 25, 25, 0.9058823529);
}

.rodape {
  align-items: center;
  box-sizing: border-box;
  background-color: #FCFCFC;
  border-top: 2px solid #dfdfdf;
  display: grid;
  grid-template: repeat(1, auto)/repeat(2, 1fr) 1fr;
  justify-content: center;
  padding: 1em 1em 0.6em;
}
.rodape__container {
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  display: flex;
}
.rodape__git {
  background: url("../img/icone/github-preto.png") no-repeat center center/cover;
}
.rodape__linkedin {
  background: url("../img/icone/linkedin-preto.png") no-repeat center center/cover;
}
.rodape__darkmode {
  background: url("../img/icone/modo-preto.png") no-repeat center center/cover;
  justify-self: end;
}
.rodape__link {
  color: rgba(20, 19, 19, 0.9098039216);
  font-weight: 500;
}
.rodape__link:hover {
  text-decoration: underline;
}
.rodape .area-clicavel {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */