@import "./abstract/variaveis";
@import "./base/reset";
@import "./base/base";

.cabecalho {
    align-items: center;
    background-color: $cinza;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    &__logo {
        align-items: center;
        column-gap: 5px;
        cursor: pointer;
        display: flex;
        font-size: 2em;
        font-weight: 500;
        .logo__imagem {
            width: 32px;
        }
    }
    &__menu-hamburguer {
        background: url("../img/icone/hamburguer.png") no-repeat center center / cover;
        cursor: pointer;
    }
}