@import "../abstract/variaveis";

.rodape {
    align-items: center;
    box-sizing: border-box;
    background-color: $cor-quaternaria-claro;
    border-top: 2px solid #dfdfdf;
    display: grid;
    grid-template: repeat(1, auto) / repeat(2, 1fr) 1fr;
    justify-content: center;
    padding: 1em 1em .6em;
    &__container {
        align-items: center;
        column-gap: 8px;
        display: flex;
    }
    &__git {
        background: url("../img/icone/github-preto.png") no-repeat center center / cover;
    }

    &__linkedin {
        background: url("../img/icone/linkedin-preto.png") no-repeat center center / cover;
    }

    &__darkmode {
        background: url("../img/icone/modo-preto.png") no-repeat center center / cover;
        justify-self: end;
    }

    &__link {
        color: $cor-da-fonte;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }

    .area-clicavel {
        cursor: pointer;
    }
}
