@import "../../abstract/variaveis";

.cabecalho {
    align-items: center;
    background-color: $cor-primaria-claro;
    border-bottom: 2px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    &__logo {
        align-items: center;
        color: $cor-da-fonte;
        column-gap: 5px;
        cursor: pointer;
        display: flex;
        font-size: 2em;
        font-weight: 700;
        .logo__imagem {
            width: 32px;
        }
    }
    &__menu-hamburguer {
        background: url("../img/icone/hamburguer.png") no-repeat center center / cover;
        cursor: pointer;
    }
    &__menu {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .cabecalho {
        justify-content: space-evenly;
        &__menu-hamburguer {
            display: none;
        }
        &__menu {
            border: 1px solid $cor-quaternaria-claro;
            border-radius: 8px;
            cursor: pointer;
            display: block;
            font-size: 18px;
            font-weight: 500;
            padding: .5em;
            text-transform: capitalize;
            transition: background-color .3s linear;
            &:hover {
                background-color: #dadada;
                box-shadow: inset 1px 1px 1px $cor-quaternaria-claro;
                height: 42px;
                border: none;
            }
        }
    }
}
