@import "../../abstract/variaveis";

.principal {
    text-align: center;
    &__introducao {
        background-color: $cor-quaternaria-claro;
        padding: 1em;
        .introducao__titulo {
            color: $cor-terciaria-claro;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: .5em;
        }
        .introducao__texto {
            color: $cor-da-fonte;
            line-height: $altura-da-linha-da-fonte;
        }
    }
    &__conversor {
        align-items: center;
        background-color: $cor-primaria-claro;
        display: flex;
        flex-direction: column;
        padding: 0 1.5em 1em;
        .conversor__titulo {
            color: $cor-terciaria-claro;
            font-size: 20px;
            font-weight: 500;
            padding: 0.5em;
        }
        .conversor__formulario {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 100%;
            .formulario__agrupamento {
                box-sizing: border-box;
                padding-top: .1em;
                .agrupamento__input {
                    background-color: transparent;
                    border: 1px solid hsla(0, 75%, 39%, 0.5);
                    border-radius: 5px;
                    box-sizing: border-box;
                    font-size: 18px;
                    padding: 0.35em 1em;
                    width: 100%;
                    &::placeholder {
                        font-size: 18px;
                        vertical-align: middle;
                    }
                    &:focus {
                        border: 1.5px solid hsla(0, 75%, 39%);
                        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.356);
                        outline: none;
                    }
                }
                .agrupamento__legenda {
                    color: $cor-da-fonte;
                    font-size: calc($tamanho-da-fonte - 2px);
                    font-weight: 500;
                }
            }
            .formulario__opcoes {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                margin: 1em 0;
                .opcoes {
                    background-color: $cor-secundaria-claro;
                    border-radius: 8px;
                    color: $branco;
                    cursor: pointer;
                    font-weight: 500;
                    height: 32.82px;
                    overflow-y: scroll;
                    padding: .5em;
                    transition: all .3s ease-in-out;
                    &:hover {
                        background-color: $cor-terciaria-claro;
                    }
                }
                .opcoes__para {
                    color: $cor-terciaria-claro;
                    font-size: 29px;
                    font-weight: 500;
                }
            }
            .formulario__converte {
                background-color: $cor-secundaria-claro;
                border-radius: 8px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
                color: $branco;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                margin-top: 1em;
                padding: .5em;
                transition: all .3s ease-in-out;
                &:hover {
                    background-color: $cor-terciaria-claro;
                }
            }
        }
    }
}
