@mixin iconesLateral($listaIconesLateral) {
    @each $iconeLateral in $listaIconesLateral {
        .lista-#{$iconeLateral}::before {
            content: url("../img/icone/#{$iconeLateral}.png");
            margin-right: .5em;
            vertical-align: middle;
        }
    }
}
