// Variáveis gerais
$familia-da-fonte: 'Roboto', sans-serif;
$tamanho-da-fonte: 16px;
$estilo-da-fonte: normal;
$altura-da-linha-da-fonte: 1.4em;
$peso-da-fonte: 400;

// Variáveis de cor
$branco: #FFFFFF;
$preto: #000000;

// Modo claro
$cor-primaria-claro: #F2F2F2;
$cor-secundaria-claro: #141313e8;
$cor-terciaria-claro: #ac1919e7;
$cor-quaternaria-claro: #0672678e;