// Variáveis gerais
$cor-da-fonte: #141313e8;
$familia-da-fonte: 'Roboto', sans-serif;
$tamanho-da-fonte: 16px;
$estilo-da-fonte: normal;
$altura-da-linha-da-fonte: 1.4em;
$peso-da-fonte: 400;

// Variáveis de cor
$branco: #FFFFFF;
$preto: #000000;

// Modo claro
$cor-primaria-claro: #F2F2F2;
$cor-secundaria-claro: #db0004;
$cor-terciaria-claro: #ac1919e7;
$cor-quaternaria-claro: #FCFCFC;

// Variáveis de lista
$lista-icones: "git", "linkedin", "darkmode";
